.album-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.albuns-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
}

.album-link {
  color: black;
  text-decoration: none;
}

.album-area h3 {
  align-self: flex-start;
}

.card-album {
  background-size: cover;
  border: 1px solid #cdd0d4;
  display: flex;
  flex-direction: column;
  height: 230px;
  justify-content: flex-end;
  margin: 10px;
  width: 250px;
}

.card-album .infos {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100px;
}

.card-album span {
  color: #727272;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

.card-album span:first-of-type {
  color: #3d495c;
  font-size: 18px;
  font-weight: 700;
}
