.loading-component {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@keyframes grow {

  0% { transform: scale(50%); }

  100% { transform: scale(100%); }
}

.loading-component img {
  animation: grow 1s alternate infinite;
  margin-bottom: 15px;
  width: 300px;
}

.loading-component span {
  font-size: 20px;
  font-weight: 700;
}
