.loading-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

@keyframes grow {

  0% { transform: scale(50%); }

  100% { transform: scale(100%); }
}

.loading-screen img {
  animation: grow 1s alternate infinite;
}

.loading-screen span {
  margin-top: 30px;
}
