.section-login {
  align-items: center;
  background: darken no-repeat cover rgba(0, 0, 0, 0.4) url('https://cdn.pixabay.com/photo/2016/11/22/21/36/audience-1850665_960_720.jpg');
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.section-login div {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
}

.logo-spark {
  width: 300px;
}

.login-area {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}

.login-area input {
  padding: 10px;
  width: 400px;
}

.login-area input:focus {
  border: 2px solid #f60;
}

.login-area button {
  background-color: #f60;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: 700;
  padding: 10px 0;
}

.login-area button:disabled {
  background-color: gray;
}
