.page-profile-edit {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.page-profile-edit form {
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: center;
  width: 400px;
}

.page-profile-edit .image-edit {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.page-profile-edit .image-edit .image-link {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.page-profile-edit .image-edit img {
  border-radius: 200px;
  height: 120px;
  width: 120px;
}

.page-profile-edit form label input {
  background-color: #f0f2f5;
  border: none;
  border-bottom: 2px solid #3d495c;
  height: 30px;
  margin-bottom: 15px;
  padding: 10px;
}

.page-profile-edit .image-edit input {
  height: 40px;
  width: 240px;
}

.page-profile-edit form label {
  display: flex;
  flex-direction: column;
}


.page-profile-edit form label span:first-of-type {
  color: #3d495c;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.page-profile-edit form label span:last-of-type {
  color: #3d495c;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.page-profile-edit form label input:focus {
  outline: none;
}

.page-profile-edit form button {
  background-color: #f60;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  padding: 15px;
}

.page-profile-edit form button:disabled {
  background-color: gray;
}
