.page-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}

.profile {
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: center;
  width: 400px;
}

.user-info {
  color: #3d495c;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-top: 15px;
}

.user-info span, p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.edit {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.edit img {
  border: 4px solid #f60;
  border-radius: 200px;
  height: 120px;
  left: 35%;
  position: fixed;
  width: 120px;
}

.edit button {
  background-color: #f60;
  border-radius: 0 30px;
  border-style: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding: 25px;
  padding-left: 220px;
}

.edit button span {
  background-color: rgb(197, 80, 2);
}
